@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo {
    height: 50px;
}

nav {
    display: flex;
    gap: 15px;
}

.secao1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 50px;
}

.h1s1 {
    font-weight: 600;
    font-size: 35px;
    padding: 20px;
}

.h2s1 {
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
}

.botao-secao1 {
    padding: 20px;
    margin: 20px;
    background-color: rgb(64, 128, 224);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.552);
}

.mockup {
    width: 350px;
}

.secao2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: black;
}

.logos2 {
    width: 250px;
    height: 250px;
}

.h2s2 {
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}

.ps2 {
    width: 500px;
    padding: 20px;
}

.footer-section-redes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-redes {
    height: 30px;
}

@media screen and (max-width: 768px) {

    header {
        justify-content: space-between;
    }

    .secao1 {
        flex-direction: column;
        margin: 0px;
    }

    .divmockup {
        display: flex;
        justify-content: center;
    }

    .secao2 {
        flex-direction: column;
        margin: 0px;
    }
    
}