@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo {
    height: 50px;
}

nav {
    display: flex;
    gap: 15px;
}

.secao1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-weight: 600;
    font-size: 35px;
    padding: 20px;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
}

.botao-secao1 {
    padding: 20px;
}

.mockup {
    height: 350px;
}

.footer-section-redes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-redes {
    height: 30px;
}

@media screen and (max-width: 768px) {

    .secao1 {
        flex-direction: column;
    }
    
}